{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="review_section">
    <h1 class="tit">{{location.title}}</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ location.image.url }}" class="d-block w-100" height="700px">
        </div>
        {% for review in reviews %}
        {% if review.location == location %}
        <div class="carousel-item {% if forloop.counter == 1 %}{% endif %}" id="slide{{forloop.counter}}">
          <img src="{{ review.image.url }}" class="d-block w-100" height="700px" style="object-fit:cover">
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="d-grid gap-2">
    <a href="{% url 'reviews:create' location.pk %}" class="btn btn-primary" type="button">리뷰 작성</a>
  </div>
  <section class="review_section">
    <h3>여행지 소개</h3>
    <div class="cont">

    </div>
  </section>
  <section class="review_section">
    <h3>리뷰</h3>
    {% if request.user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'reviews:create' location.pk %}">리뷰 작성</a>
    {% endif %}
    <!--리뷰 쌓이는 곳-->
    <div class="row pb-2">
      <div class="col-12 pt-1">
        
          {% for review in reviews %}
          {% if review.location == location %}
          <div class="card shadow p-3 mb-3 bg-body rounded">
          <p>{{ review.user }}</p>
          <p>{{ review.grade }}</p>
          <p>{{ review.title }}</p>
          <p>{{ review.created_at }}</p>
          <p>{{ review.traveled_at }}</p>
          <p>{{ review.content }}</p>
            {% if request.user == review.user %}
            <a class='btn btn-outline-success btn-sm' href="{% url 'reviews:update' location.pk %}">수정</a>
            <a class='btn btn-outline-success btn-sm' href="{% url 'reviews:delete' location.pk %}">삭제</a>
          {% endif %}
          
          </div>
          {% endif %}
          {% endfor %}
        
      </div>
    </div>
  </section>
</div>
{% endblock content %}