{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <div id="location">
    <div class="btn-area">
      <a href="{% url 'location:create' %}" class="btnC">
        <i class="bi bi-plus-circle"></i>
        장소 등록하기</a>
    </div>
    <div class="row m-4 g-3 ">
      {% for location in locations %}
        <div class="col-3 box">
          {% if request.user == location.user %}
          <div class="justify-content-between">
            <a class='btnC' href="{% url 'location:update' location.pk %}">수정</a>
            <a class='btnC btnW' href="{% url 'location:delete' location.pk %}">삭제</a>
          </div>
          {% endif %}
          <a href="{% url 'reviews:index' location.pk %}">
            <div class="box-img">
              <img src="{{ location.image.url }}">
            </div>
            <div class="box-cont">
              <h5 class="sub-tit">{{ location.title }}</h5>
            </div>
          </a>
          
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}