@font-face {
	font-family: "NanumSquareNeo";
	font-style: normal;
	font-weight: 400;
	src: url(./webfont/NanumSquareNeoTTF-bRg.eot);
	src: local("NanumSquareNeo"), local("NanumSquareNeo"),
		url(./webfont/NanumSquareNeoTTF-bRg.eot?#iefix)
			format("embedded-opentype"),
		url(./webfont/NanumSquareNeoTTF-bRg.woff2) format("woff2"),
		url(./webfont/NanumSquareNeoTTF-bRg.woff) format("woff"),
		url(./webfont/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}
@font-face {
	font-family: "NanumSquareNeo";
	font-style: normal;
	font-weight: 700;
	src: url(./webfont/NanumSquareNeoTTF-bBd);
	src: local("NanumSquareNeo"), local("NanumSquareNeo"),
		url(./webfont/NanumSquareNeoTTF-bBd.eot?#iefix)
			format("embedded-opentype"),
		url(./webfont/NanumSquareNeoTTF-bBd.woff2) format("woff2"),
		url(./webfont/NanumSquareNeoTTF-bBd.woff) format("woff"),
		url(./webfont/NanumSquareNeoTTF-bBd.ttf) format("truetype");
}
