@import url(./fontall.css);
:root {
	--main: #49beb7;
	--highlight: #83d8d2;
	--bg: #fcf9ea;
	--txt: #393e46;
}

body {
	font-family: "NanumSquareNeo", sans-serif;
	color: var(--txt);
	font-size: 20px;
	line-height: 1.5;
	background: var(--bg);
}

.logo img {
	width: 180px;
}
.nav-area li {
	margin-right: 25px;
	position: relative;
}
.nav-area li:last-child {
	margin-right: 0;
}
.nav-area li a::after {
	content: "";
	display: block;
	background: var(--main);
	width: 0%;
	height: 3px;
	position: absolute;
	bottom: -3px;
	left: 0px;
	transition: 0.2s;
}

.nav-area li a:hover {
	color: var(--main);
	font-weight: 700;
}
.nav-area li a:hover::after {
	width: 100%;
}

.tit {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin: 2rem 0;
}
.btn-sb {
	background: var(--main);
	color: var(--bg);
	width: 100%;
	padding: 1rem;
	margin-top: 1.5rem;
	border-radius: 0.5rem;
}
.btn-sb:hover {
	background: var(--highlight);
}
.footer {
	height: 30px;
	position: fixed;
	bottom: 0px;
}
.footer .cpr {
	font-size: 0.8em;
}
