@import url(./fontall.css);
/* base */
:root {
	--main: #49beb7;
	--highlight: #83d8d2;
	--warning: #ff8a5c;
	--warningH: #f0622a;
	--bg: #fcf9ea;
	--bgD: #eee9d7;
	--txt: #393e46;
}
body {
	font-family: "NanumSquareNeo", sans-serif;
	color: var(--txt);
	font-size: 20px;
	line-height: 1.5;
	background: var(--bg);
}
a {
	color: inherit;
}
a:hover {
	color: inherit;
}

/* header */
.logo img {
	width: 180px;
}
.nav-area li {
	margin-right: 25px;
	position: relative;
}
.nav-area li:last-child {
	margin-right: 0;
}
.nav-area li a::after {
	content: "";
	display: block;
	background: var(--main);
	width: 0%;
	height: 3px;
	position: absolute;
	bottom: -3px;
	left: 0px;
	transition: 0.2s;
}
.nav-area li a:hover {
	color: var(--main);
	font-weight: 700;
}
.nav-area li a:hover::after {
	width: 100%;
}
/* common */
.tit {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin: 2rem 0;
}
.sub-tit {
	font-size: 1.5rem;
	font-weight: 700;
	margin: 1rem 0;
}

/* buttons */
.btnC {
	background: var(--main);
	color: var(--bg);
	display: inline-block;
	padding: 0.5rem 1rem;
	margin: 1.8rem auto 0;
	border-radius: 0.5rem;
	transition: 0.2s;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	max-width: 900px;
}
.btnC:hover {
	background: var(--highlight);
	color: var(--bg);
}
.btn-sb {
	width: 100%;
}
.btn-sb:hover {
	background: var(--highlight);
}

.btnW {
	background: var(--warning);
	color: var(--bg);
}
.btnW:hover {
	background: var(--warningH);
	color: var(--bg);
}

/* form control */
#login-form .form-list {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
}
#login-form .form-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#login-form .form-list li:first-child {
	margin-bottom: 1rem;
}
#login-form .form-list li label {
	width: 30%;
	text-align: right;
}
#login-form .form-list li input {
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 0.6rem;
	background: var(--bgD);
	padding: 0.3rem;
	box-sizing: border-box;
	transition: 0.2s;
	width: 50%;
	margin-right: 15%;
}
#login-form .form-list li input:focus {
	border: 2px solid var(--main);
	background: var(--bg);
}
#signup-form {
	max-width: 900px;
	margin: 0 auto;
}
#signup-form input {
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 0.6rem;
	background: var(--bgD);
	padding: 0.3rem;
	box-sizing: border-box;
	transition: 0.2s;
}
#signup-form input:focus {
	border: 2px solid var(--main);
	background: var(--bg);
}
#signup-form .form-text,
#update-form .form-text,
#pw-form .form-text {
	font-size: 0.85rem;
}
#update-form,
#pw-form,
#loc-form {
	max-width: 900px;
	margin: 0 auto;
}

#update-form input,
#pw-form input,
#loc-form input,
#rev-form input {
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 0.6rem;
	background: var(--bgD);
	padding: 0.3rem;
	box-sizing: border-box;
	transition: 0.2s;
}
#update-form input:focus,
#pw-form input:focus,
#loc-form input:focus,
#rev-form input:focus {
	border: 2px solid var(--main);
	background: var(--bg);
}
#update-form .btnW,
#pw-form .btnW {
	text-align: center;
	width: 100%;
}

/* profile */
.prof-con {
	overflow: hidden;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	min-width: 150px;
}
.prof-img {
	width: 150px;
	height: 150px;
}
.prof-al {
	margin-top: 1rem;
	font-size: 0.9rem;
}
.prof-log p {
	font-size: 0.95rem;
}
.prof-log .btnC {
	margin-top: 0;
}

.prof-del .btnC {
	left: 90%;
	transform: translateX(0);
	font-size: 0.95rem;
}

/* main */
.idx-sect {
	margin-bottom: 2.5rem;
}
.idx-sect h2 {
	text-align: left;
	margin-bottom: 0.8rem;
}

.cont-area {
	position: relative;
	height: 320px;
	border-radius: 1rem;
	overflow: hidden;
}
.cont-area img {
	transition: 0.7s;
	width: 100%;
}
.cont-area .cont-txt {
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
}
.cont-area .cont-txt {
	color: var(--bg);
	margin-bottom: 0;
	transition: 0.5s;
}
.cont-area:hover img {
	transform: scale(1.2);
}
.cont-area:hover .cont-txt {
	color: var(--main);
}
.carousel {
	margin-bottom: 2.5rem;
}
.carousel-item .carousel-caption {
	text-align: left;
}
.carousel-item .carousel-caption h5 {
	font-size: 1.8rem;
}
.carousel-item .carousel-caption p {
	font-size: 1rem;
}

/* location */
.box {
	background: var(--bg);
	box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px rgba(22, 27, 29, 0.1);
	border-radius: 0.8rem;
	transition: 0.3s;
	margin-right: 1rem;
}
.box .box-img {
	margin-top: 0.5rem;
	height: 200px;
	overflow: hidden;
	border-radius: 1rem;
}
.box .sub-tit {
	text-align: center;
	transition: 0.3s;
}
.box:hover {
	background: var(--bgD);
	box-shadow: none;
}
.box:hover .sub-tit {
	color: var(--main);
}

/* review */
.review .carousel-item {
	height: 580px;
}
.review .carousel-item img {
	width: 100%;
}
.review_section .box {
	padding: 1rem;
}
.rev-info .box:hover {
	background: var(--bg);
	box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px rgba(22, 27, 29, 0.1);
}
.rev-info .box:hover .sub-tit {
	color: var(--txt);
}
.rev-area {
	margin-top: 5rem;
}
.btn-rev {
	left: 90%;
	transform: translateX(0);
}
.tit-area {
	margin-bottom: 2rem;
}
.rev .rev-cont .rev-prof {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 1rem;
}
.rev .rev-cont .rev-prof .prof-img {
	width: 50px;
	height: 50px;
}
.rev .rev-cont .rev-grd {
	color: var(--main);
}

/* footer */
.footer {
	height: 30px;
	position: fixed;
	bottom: 0px;
}
.footer .cpr {
	margin-left: 0.5rem;
	font-size: 0.7em;
}
