{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <div id="pwupdate">
    <div class="tit-area">
      <img src="{% static 'img/trv_logo.svg' %}" alt="trv_logo" class="logo-img">
      <h1 class='tit'>비밀번호 변경</h1>
    </div>
    <form method="POST" id="pw-form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btnC btnW">비밀번호 변경</button>
      <a href="{% url 'accounts:update'%}" class="btnC btn-sb btnD">변경 취소</a>
    </form>
  </div>
{% endblock content %}
